<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcxtzhang.flowlayoutmanager">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".swipecard.SwipeCardActivity">
        </activity>
        <activity android:name=".tantan.TanTanActivity">
        </activity>
        <activity android:name=".gallary.GalleryActivity">
        </activity>
        <activity
            android:name=".zuimei.ScaleCardActivity"
            android:theme="@style/NoTitle">
        </activity>
        <activity android:name=".avatar.TanTanAvatarActivity">
        </activity>
        <activity android:name=".gallery.LoopGalleryActivity"/>
    </application>

</manifest>